<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/cover.css" rel="stylesheet">
</head>


<body class="text-center" style="height: inherit; width: inherit; all:inherit;>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="max-width: max-content;">
    <header class="masthead mb-auto" style="margin-bottom: 0!important;">
        <div class="inner">
            <h3 align="center" class="masthead-brand"></h3>
        </div>
    </header>


    <main class="inner cover" role="main">


        <form action="#" th:action="@{/query}" th:object="${query}" method="post">
            <select class="btn btn-primary" th:field="*{model}">
                <option th:value="Pool" th:text="Pooling" ></option>
                <option th:value="BM25" th:text="BM25" ></option>
                <option th:value="LDA" th:text="LDA" ></option>

            </select>

            <p style="display:inline-block"><input style="width: 500px; height: 30px;" type="text"
                                                   th:field="*{content}"/></p>

            <button class="btn btn-primary" type="submit">Submit</button>

        </form>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Alex Brown and Connor York</p>
        </div>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../js/jquery-slim.min.js"><\/script>')</script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
<div id="background-image"></div>
</html>
